footer.footer
    .footer__top
        .container
            .footer__left
                h3.footer__title About Us
                .footer__desc Lorem ipsum dolor sit amet, consectetitecto beatae vitae dicta sunt explicabo.
                    |  magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, quie dolorem
                    |  ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempuaerat voluptatem.
            .footer__middle
                h3.footer__title Quick Links
                .footer__links
                    ul.footer__links-list
                        li.footer__links-item
                            a(href="#").footer__links-link Home
                        li.footer__links-item
                            a(href="#").footer__links-link Services
                        li.footer__links-item
                            a(href="#").footer__links-link Portfolio
                        li.footer__links-item
                            a(href="#").footer__links-link Pricing
                        li.footer__links-item
                            a(href="#").footer__links-link Contact Us
                    ul.footer__links-list
                        li.footer__links-item
                            a(href="#").footer__links-link Development
                        li.footer__links-item
                            a(href="#").footer__links-link Photography
                        li.footer__links-item
                            a(href="#").footer__links-link Design
                        li.footer__links-item
                            a(href="#").footer__links-link Manipulation
            .footer__right
                h3.footer__title Find Us On
                ul.footer__socials
                    li.footer__socials-item
                        i.fa.fa-facebook
                    li.footer__socials-item
                        i.fa.fa-twitter
                    li.footer__socials-item
                        i.fa.fa-google-plus
                    li.footer__socials-item
                        i.fa.fa-linkedin
                h3.footer__title Subscribe Our Newsletter
                form.footer-subscribe
                    input(name="subs-email" placeholder="Your Email...").footer-subscribe__email
                    button(type="submit").footer-subscribe__submit Subscribe
    .footer__bottom
        .container
            .footer__copyright A Design MD. Zillur Rahman Sama