section.contact
    .container
        .contact__title Say hi
        form.contact-form
            input.contact-form__name(name="name" placeholder="Your Name")
            input.contact-form__email(name="email" placeholder="Your Email")
            textarea.contact-form__message(name="message" placeholder="Your Message")
            button.contact-form__submit(type="submit") Send Message