section.intro
    include ../parts/_header
    .container
        h2.intro__title We Love
            span.intro__title-span  FOINNI
            |  Polapain
        .intro__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eismod tempor incididunt ut labore et dolore magna aliqua.
            |  Ut enim ad minim veniamm quas n.