section.latest-works
    .container
        h3.latest-works__title Our Latest Works
        ul.latest-works__filters
            li.latest-works__filters-item All
            li.latest-works__filters-item Design
            li.latest-works__filters-item Manipulation
            li.latest-works__filters-item Photography
            li.latest-works__filters-item Development
        ul.latest-works__content
            li.latest-works__content-item(style="background-image: url('img/content/work-1.jpg')")
            li.latest-works__content-item(style="background-image: url('img/content/work-2.jpg')")
            li.latest-works__content-item(style="background-image: url('img/content/work-3.jpg')")
            li.latest-works__content-item(style="background-image: url('img/content/work-4.jpg')")
            li.latest-works__content-item(style="background-image: url('img/content/work-5.jpg')")
            li.latest-works__content-item(style="background-image: url('img/content/work-6.jpg')")
        .latest-works__btn See More