section.meet-us
    .container
        h2.meet-us__title Meet Us
        ul.meet-us__list
            li.meet-us__item(style="background-image: url('img/content/abida-foinni.jpg')")
                .meet-us__item-text-block
                    h3.meet-us__item-person Abida Foinni
                    .meet-us__item-work Photographer
                .meet-us__item-socials
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-behance
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-facebook
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-twitter
            li.meet-us__item(style="background-image: url('img/content/liker-shohel.jpg')")
                .meet-us__item-text-block
                    h3.meet-us__item-person Liker Shohel
                    .meet-us__item-work Photographer
                .meet-us__item-socials
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-behance
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-facebook
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-twitter
            li.meet-us__item(style="background-image: url('img/content/mahmud-koli.jpg')")
                .meet-us__item-text-block
                    h3.meet-us__item-person Mahmud Koli
                    .meet-us__item-work Graphic Designer
                .meet-us__item-socials
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-behance
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-facebook
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-twitter
            li.meet-us__item(style="background-image: url('img/content/jolil-shaheb.jpg')")
                .meet-us__item-text-block
                    h3.meet-us__item-person Jolil Shaheb
                    .meet-us__item-work Web Developer
                .meet-us__item-socials
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-behance
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-facebook
                    a(href="#").meet-us__item-socials-link
                        i.fa.fa-twitter