section.pricing-plans
    .container
        h2.pricing-plans__title Our Pricing Plans
        ul.pricing-plans__content
            li.pricing-plans__item
                .pricing-plans__item-title Basic
                .pricing-plans__item-main
                    .pricing-plans__item-price
                        .pricing-plans__item-price-text
                            sup.pricing-plans__item-price-text-dollar $
                            | 20
                            span.pricing-plans__item-price-text-month /m
                    ul.pricing-plans__item-desc
                        li.pricing-plans__item-desc-text 15 projects
                        li.pricing-plans__item-desc-text 30 GB Storage
                        li.pricing-plans__item-desc-text Unlimited Data Transfer
                        li.pricing-plans__item-desc-text 50 GB Bandwidth
                        li.pricing-plans__item-desc-text 24/7 Support
                    .pricing-plans__item-btn Order Now
            li.pricing-plans__item
                .pricing-plans__item-title Standard
                .pricing-plans__item-main
                    .pricing-plans__item-price
                        .pricing-plans__item-price-text
                            sup.pricing-plans__item-price-text-dollar $
                            | 40
                            span.pricing-plans__item-price-text-month /m
                    ul.pricing-plans__item-desc
                        li.pricing-plans__item-desc-text 15 projects
                        li.pricing-plans__item-desc-text 30 GB Storage
                        li.pricing-plans__item-desc-text Unlimited Data Transfer
                        li.pricing-plans__item-desc-text 50 GB Bandwidth
                        li.pricing-plans__item-desc-text 24/7 Support
                    .pricing-plans__item-btn Order Now
            li.pricing-plans__item.pricing-plans__item_green
                .pricing-plans__item-title.pricing-plans__item-title_green Business
                .pricing-plans__item-main.pricing-plans__item-main_green
                    .pricing-plans__item-price.pricing-plans__item-price_green
                        .pricing-plans__item-price-text.pricing-plans__item-price-text_green
                            sup.pricing-plans__item-price-text-dollar $
                            | 80
                            span.pricing-plans__item-price-text-month /m
                    ul.pricing-plans__item-desc
                        li.pricing-plans__item-desc-text 15 projects
                        li.pricing-plans__item-desc-text 30 GB Storage
                        li.pricing-plans__item-desc-text Unlimited Data Transfer
                        li.pricing-plans__item-desc-text 50 GB Bandwidth
                        li.pricing-plans__item-desc-text 24/7 Support
                    .pricing-plans__item-btn.pricing-plans__item-btn_green Order Now
            li.pricing-plans__item
                .pricing-plans__item-title Premium
                .pricing-plans__item-main
                    .pricing-plans__item-price
                        .pricing-plans__item-price-text
                            sup.pricing-plans__item-price-text-dollar $
                            | 120
                            span.pricing-plans__item-price-text-month /m
                    ul.pricing-plans__item-desc
                        li.pricing-plans__item-desc-text 15 projects
                        li.pricing-plans__item-desc-text 30 GB Storage
                        li.pricing-plans__item-desc-text Unlimited Data Transfer
                        li.pricing-plans__item-desc-text 50 GB Bandwidth
                        li.pricing-plans__item-desc-text 24/7 Support
                    .pricing-plans__item-btn Order Now