section.welcome
    .container
        h2.welcome__title Welcome To
            span.welcome__title-span  Foinni
        .welcome__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eismod tempor incididunt ut labore et dolore magna aliqua.
            |  Ut enim ad minim veniamm quas nostrud.
        ul.welcome__content
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_development
                h3.welcome__item-title Development
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item.welcome__item_green
                .welcome__item-picture.welcome__item-picture_responsive
                h3.welcome__item-title.welcome__item-title_green Responsive
                .welcome__item-desc.welcome__item-desc_green Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_clean-design
                h3.welcome__item-title Clean Design
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_graphic-design
                h3.welcome__item-title Graphic Design
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_photography
                h3.welcome__item-title Photography
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_photo-editing
                h3.welcome__item-title Photo Editing
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.