section.welcome
    .container
        .welcome__title Welcome To
            span.welcome__title-span  Foinni
        .welcome__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eismod tempor incididunt ut labore et dolore magna aliqua.
            |  Ut enim ad minim veniamm quas nostrud.
        ul.welcome__content
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_development
                .welcome__item-title Development
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item.welcome__item_responsive
                .welcome__item-picture.welcome__item-picture_responsive
                .welcome__item-title.welcome__item-title_responsive Responsive
                .welcome__item-desc.welcome__item-desc_responsive Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_clean-design
                .welcome__item-title Clean Design
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_graphic-design
                .welcome__item-title Graphic Design
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_photography
                .welcome__item-title Photography
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.
            li.welcome__item
                .welcome__item-picture.welcome__item-picture_photo-editing
                .welcome__item-title Photo Editing
                .welcome__item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt explicabo.
                    |  Nemo enim psam vo uptatem quia.