nav.nav
    ul.nav__list
        li.nav__item
            a.nav__link(href="#") Home
        li.nav__item
            a.nav__link(href="#") Service
        li.nav__item
            a.nav__link(href="#") Pricing
        li.nav__item
            a.nav__link(href="#") Portfolio
        li.nav__item
            a.nav__link(href="#") Contact us